<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/feed.css')}}">
</head>
<body>
    <nav>
        <div class="con-logo">
            <div class="logo">lodo</div>
        </div>


        <div class="con-list">
            <ul class="list">
                <li><a href="{{ url_for('homepage') }}"> home </a></li>
                <li><a href="{{ url_for('logout') }}"> logout </a></li>
            </ul>
        </div>
       
    </nav>
    <main>
        <h1>feeds</h1>
        <section class="galeria">
            {% for foto in fotos %}

                <div class="foto">
                     <img src="{{ url_for('static', filename='midia/{}'.format(foto.imagem)) }}">
                </div>
               
            {% endfor%}

        </section>
    </main>
</body>
</html>